# Project Information
site_name: 'rio-tiler-pds'
site_description: 'A rio-tiler plugin to access and read Public hosted datasets.'

docs_dir: 'docs'
site_dir: 'build'

# Repository
repo_name: 'cogeotiff/rio-tiler-pds'
repo_url: 'https://github.com/cogeotiff/rio-tiler-pds'
edit_uri: 'blob/master/src/'
site_url: 'https://cogeotiff.github.io/rio-tiler-pds/'

# Social links
extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/cogeotiff'
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/cogeotiff'
    - icon: 'fontawesome/solid/globe'
      link: 'https://www.cogeo.org/'

# Layout
nav:
  - Home: 'index.md'
  - Usage: 'usage.md'
  - Development - Contributing: 'contributing.md'
  - Release: 'release-notes.md'
  - API:
    - BaseClasses: API/baseclasses.md
    - cbers: API/cbers.md
    - sentinel: API/sentinel.md
    - landsat: API/landsat.md
    - modis: API/modis.md

# Theme
theme:
  icon:
    logo: 'material/home'
    repo: 'fontawesome/brands/github'
  name: 'material'
  language: 'en'
  palette:
    primary: 'blue'
    accent:  'light blue'
  font:
    text: 'Nunito Sans'
    code: 'Fira Code'

plugins:
  - search
  - mkapi:
      src_dirs: [rio_tiler_pds]

# Uncomment if I use math in the docs in the future
# extra_javascript:
#     - helpers/helpers.js
#     - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

# These extensions are chosen to be a superset of Pandoc's Markdown.
# This way, I can write in Pandoc's Markdown and have it be supported here.
# https://pandoc.org/MANUAL.html
markdown_extensions:
    - admonition
    - attr_list
    - codehilite:
        guess_lang: false
    - def_list
    - footnotes
    - pymdownx.arithmatex
    - pymdownx.betterem
    - pymdownx.caret:
        insert: false
    - pymdownx.details
    - pymdownx.emoji
    - pymdownx.escapeall:
        hardbreak: true
        nbsp: true
    - pymdownx.magiclink:
        hide_protocol: true
        repo_url_shortener: true
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde
    - toc:
        permalink: true
